<div class="text-center">
    <img class="m-4" src="../../assets/logo-vm.png" alt="" height="50" />
</div>

<form class="form-register" [formGroup]="registerForm" (ngSubmit)="register()">    
    <h1 class="h3 mb-3 font-weight-normal">New User Registration</h1>
    <p *ngIf="message" class="text-center error alert alert-danger">{{message}}</p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputEmail" class="form-control" formControlName="email" placeholder="Email" autofocus />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" />

    <span *ngIf="(emailField.dirty || emailField.touched) && emailField.invalid && emailField.hasError('required')">
        Email is required.
      </span>
    <span *ngIf="(emailField.dirty || emailField.touched) && emailField.invalid && emailField.hasError('email')">
        Value has to be a valid email address.
    </span>
    <br />
    <span *ngIf="(passwordField.dirty || passwordField.touched) && passwordField.invalid && passwordField.hasError('required')">
        Password is required.
    </span>
    <span *ngIf="(passwordField.dirty || passwordField.touched) && passwordField.invalid && passwordField.hasError('minlength')">
        Password must be at least 4 characters long.
    </span>

    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" [disabled]="registerForm.invalid">Register</button>

    <div class="mt-3">
        <a routerLink="" (click)="backToLogin()">Back to Login</a>
    </div>
    
    <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
</form>