<section id="products">
  <h3>Выберите товар</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Наименование</th>
        <th>Стоимость</th>
        <th>Остаток</th>
        <th>Купить</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let creatorProduct of creatorProducts">
        <td>{{creatorProduct.product.name}}</td>
        <td>{{creatorProduct.product.price}}</td>
        <td>{{creatorProduct.availability}}</td>
        <td>
          <button class="btn btn-success" (click)="buyProduct(creatorProduct)"
                    *ngIf="creatorProduct.availability">Купить</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>