<section>
  <h3>Покупатель</h3>
  <h4>Кошелек</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Номинал, ₽</th>
        <th>Кол-во</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of (purse?.coins ? purse.coins : [])">
        <th>{{coin.typeCoin}} ₽</th>
        <td>{{coin.count}}</td>
        <td><button class="btn btn-primary" (click)="pushAmmountDeposited(coin)" *ngIf="coin.count">Внести</button></td>
      </tr>
    </tbody>
  </table>
</section>